<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.organization.dao.ConnectEmpPostDao">
	<resultMap type="com.xiangshangban.organization.bean.ConnectEmpPost" id="ConnectEmpPost">			
   		<result property="employeeId" column="employee_id" />
        <result property="postId" column="post_id" />       
        <result property="departmentId" column="department_id" /> 
        <result property="isDelete" column="is_delete" /> 
        <result property="postGrades" column="post_grades" />        
   </resultMap>


   <select id="findByConnect" parameterType="java.util.Map" resultMap="ConnectEmpPost">
    select c.employee_id,e.employee_name,c.department_id,d.department_name,c.post_id,p.post_name,c.post_grades
    from organization.connect_emp_post_ c 
    LEFT JOIN  organization.post_ p on  c.post_id=p.post_id
    LEFT JOIN  organization.employee_ e on e.employee_id=c.employee_id
    LEFT JOIN  organization.department_ d on d.department_id=c.department_id   
    where 
    c.employee_id=#{employeeId,jdbcType=VARCHAR}
    and
    c.department_id=#{departmentId}
    and
    c.post_grades=#{postGrades}
   </select>
     
    <select id="findByConnectpostemp" parameterType="java.lang.String" resultMap="ConnectEmpPost">
   select  
    c.employee_id   
    from organization.connect_emp_post_ c     
    LEFT JOIN  organization.post_ p  on c.post_id = p.post_id   
   where 
     p.post_id=#{postId}
   </select>
   <select id="findEmpByPostId" resultMap="ConnectEmpPost">
   	  select c.*
      from organization.connect_emp_post_ c  
      LEFT JOIN  organization.post_ p  on c.post_id = p.post_id   
      where c.post_id=#{postId} AND p.company_id=#{companyId}
   </select>

	<insert id="saveConnect" parameterType="com.xiangshangban.organization.bean.ConnectEmpPost">
		insert into 
		organization.connect_emp_post_ 
		(employee_id,post_id,department_id,post_grades)
		values
		(				 
		#{employeeId,jdbcType=VARCHAR}, 
        #{postId,jdbcType=VARCHAR},
        #{departmentId,jdbcType=VARCHAR},
        #{postGrades,jdbcType=VARCHAR}  
            
        )
	</insert>
	<update id="deleteEmpConnectPost" parameterType="java.lang.String">
		update connect_emp_post_
		set is_delete = '1'
		where employee_id = #{employeeId}
	</update>
	
	<delete id="deleteConnect" parameterType="java.lang.String">
		delete 
		from 
		organization.connect_emp_post_
		where 
		employee_id=#{employeeId,jdbcType=VARCHAR}
		and 
		post_id=#{postId,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteTransferjobConnect" parameterType="java.lang.String">
		delete 
		from 
		organization.connect_emp_post_
		where 
		employee_id=#{employeeId,jdbcType=VARCHAR}
		and 
		post_id=#{postId,jdbcType=VARCHAR}		
	</delete>
	
	<update id="updateConnect" parameterType="com.xiangshangban.organization.bean.ConnectEmpPost">
		update 
		organization.connect_emp_post_
		set 
		post_id=#{postId,jdbcType=VARCHAR}
		where 
		c.employee_id=#{employeeId,jdbcType=VARCHAR}
		and
		c.department_id=#{departmentId} 
	</update>
	
		
	<update id="updateConnectDelehipostStaus" parameterType="com.xiangshangban.organization.bean.ConnectEmpPost">
		update 
		organization.connect_emp_post_
		set 
		is_delete='1' 
		where 
		employee_id=#{employeeId,jdbcType=VARCHAR}		
	</update>
	
	
</mapper>	