<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.organization.dao.DeviceDao">
	<select id="selectDeviceCountByCompanyId" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(device_id)
		from device.device_
		where company_id = #{companyId} group by company_Id
	</select>
</mapper>