<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.organization.dao.PostDao">

  <resultMap type="com.xiangshangban.organization.bean.Post" id="Post" >   
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />          
    <result column="post_proficiencies" jdbcType="VARCHAR" property="postProficiencies" /> 
    <result column="post_work_type" jdbcType="VARCHAR" property="postWorkType" /> 
    <result column="educational_requirements" jdbcType="VARCHAR" property="educationalRequirements" /> 
    <result column="post_principal_id" jdbcType="VARCHAR" property="postPrincipalId" />       
    <result column="post_class_name" jdbcType="VARCHAR" property="postClassName" /> 
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" /> 
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="count_number" jdbcType="VARCHAR" property="countNumber" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />      
  </resultMap>
  <!-- 查询员工的副岗位 -->
  <select id="selectVicePositionByEmployeeId" parameterType="java.lang.String" resultMap="Post">
  	select post_name 
  	from employee_ e, post_ p, connect_emp_post cep 
  	where e.company_id = #{companyId} and e.employee_id = #{employeeId} and e.employee_id = cep.employee_id
  	and cep.post_id = p.post_id
  </select>
  
  
  
  <!-- 查询所有在职员工信息 -->
 <select id="selectByPostName" parameterType="java.lang.String" resultMap="Post">  
    select 
	  p.company_id,y.company_name, c.department_id ,d.department_name,p.post_id,p.post_name,p.post_proficiencies,p.post_work_type,
	  p.educational_requirements,p.post_principal_id,e.employee_name  
    from  organization.post_ p    
    LEFT JOIN organization.connect_emp_post_ c  on  c.post_id=p.post_id
    LEFT JOIN organization.department_ d on d.department_id=c.department_id
    LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id 
    LEFT JOIN organization.company_ y on y.company_id=p.company_id
  where     
    c.employee_id =#{employeeId}
    and
    c.department_id=#{departmentId}
    and c.post_staus='0'
	and c.is_delete='0'   
  </select>
  <!-- 查询所有员工岗位信息 -->
  <select id="selectByPostemp" parameterType="java.lang.String" resultMap="Post">  
    select 
    p.post_id,p.post_name
    from  organization.post_ p    
    LEFT JOIN organization.connect_emp_post_ c  on  c.post_id=p.post_id
    LEFT JOIN organization.employee_ e on e.employee_id=c.employee_id
    LEFT JOIN organization.department_ d on d.department_id=e.department_id
  where     
    c.employee_id =#{employeeId}
    and
    c.department_id=#{departmentId}
    and e.employee_status in('0','1')
	and c.is_delete='0' 
    and
    c.post_staus='0' 
  </select>
 
  <select id="selectByPost" parameterType="java.lang.String" resultMap="Post">  
   SELECT DISTINCT 
   p.company_id,y.company_name, p.department_id ,d.department_name,p.post_id,p.post_name,
   p.post_proficiencies,p.post_work_type,p.educational_requirements,p.post_principal_id,e.employee_name
  FROM  organization.post_ p       
	LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id	
	LEFT JOIN organization.company_ y on p.company_id=y.company_id
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 
    where 
    p.post_id = #{postId,jdbcType=VARCHAR}
    AND	
	p.company_id=#{companyId}
  </select>
  <!-- 查询一个部门的所有岗位 -->
  <select id="findBydepartmentPost" parameterType="java.lang.String" resultMap="Post">  
    SELECT DISTINCT 
    p.post_id,p.post_name
    FROM  organization.post_ p       	
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 
	where  	
	p.department_id=#{departmentId} 
    AND	
    p.company_id=#{companyId}
  </select>
  
  <!-- 根据岗位名称、所属部门查询岗位信息 -->
  <select id="findByMorePostIfon"   parameterType="java.util.Map" resultMap="Post">  
    SELECT DISTINCT 
    p.company_id,y.company_name, p.department_id ,d.department_name,p.post_id,p.post_name,p.post_proficiencies,p.post_work_type,p.educational_requirements,p.post_principal_id,e.employee_name
  FROM  organization.post_ p       
	LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id	
	LEFT JOIN organization.company_ y on p.company_id=y.company_id
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 	
    <where> 
     <if test="postName!=null and postName != ''">
      and p.post_id in (select p.post_id from organization.post_ p  where  post_name like '%${postName}%')
     </if>
     <if test="departmentName!=null and departmentName != ''">
      and p.post_id in (select p.post_id from organization.post_ p  LEFT JOIN organization.department_ d on d.department_id=p.department_id
	   where d.department_name like '%${departmentName}%')
     </if>
     <if test="companyId!=null and companyId != ''">
      and p.company_id=#{companyId}
     </if> 
     
     </where>      
  </select>     
  <!-- 查询所有岗位信息 -->
  <select id="selectByAllPostInfo" parameterType="java.lang.String" resultMap="Post">  
    SELECT DISTINCT 
    p.company_id,y.company_name, p.department_id ,d.department_name,p.post_id,p.post_name,p.post_proficiencies,p.post_work_type,p.educational_requirements,p.post_principal_id,e.employee_name
  FROM  organization.post_ p       
	LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id	
	LEFT JOIN organization.company_ y on p.company_id=y.company_id
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 
    where 
    p.company_id=#{companyId}
  </select>
  
  <!-- 分页+模糊查询岗位信息 -->
  <select id="selectByAllFenyePost" parameterType="java.util.Map" resultMap="Post">  
    SELECT DISTINCT p.company_id, y.company_name, p.department_id , d.department_name, p.post_id, p.post_name,
    	p.post_proficiencies, p.post_work_type, p.educational_requirements, p.post_principal_id, e.employee_name
  	FROM  organization.post_ p       
	LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id	
	LEFT JOIN organization.company_ y on p.company_id=y.company_id
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 
    where 
    p.company_id=#{companyId}
    <if test="departmentId!=null and departmentId!=''">
		AND (p.department_id = #{departmentId} OR d.department_parent_id = #{departmentId})
	</if>
    <if test="postName!=null and postName!=''">
		AND p.post_name like '%${postName}%'
	</if>
	<if test="departmentName!=null and departmentName!=''">
		AND d.department_name like '%${departmentName}%'
	</if>
    limit #{pageRecordNum}::integer offset #{fromPageNum}::integer 
  </select>
 <!-- 分页+模糊查询岗位信息总数目 -->
  <select id="findPostPageAllLength" parameterType="java.util.Map" resultType="Integer">  
    SELECT count(p.post_id)
  	FROM  organization.post_ p       
	LEFT JOIN organization.employee_ e on e.employee_id=p.post_principal_id	
	LEFT JOIN organization.company_ y on p.company_id=y.company_id
    LEFT JOIN organization.department_ d  on d.department_id=p.department_id 
    WHERE 
    p.company_id=#{companyId}
    <if test="postName!=null and postName!=''">
		AND p.post_name like '%${postName}%'
	</if>
	<if test="departmentName!=null and departmentName!=''">
		AND d.department_name like '%${departmentName}%'
	</if>
  </select>
  
  <update id="deleteByPost" parameterType="java.lang.String">   
    update organization.post_ set is_delete='1'
    where 
    post_id = #{postId,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertPost" parameterType="com.xiangshangban.organization.bean.Post">
    insert into organization.post_ (post_id, post_name,post_proficiencies,post_work_type,educational_requirements,post_principal_id,
     company_id,department_id
      )
    values (
    #{postId,jdbcType=VARCHAR}, 
    #{postName,jdbcType=VARCHAR},    
    #{postProficiencies,jdbcType=VARCHAR},
    #{postWorkType,jdbcType=VARCHAR},
    #{educationalRequirements,jdbcType=VARCHAR},
    #{postPrincipalId,jdbcType=VARCHAR},    
    #{companyId,jdbcType=VARCHAR},
    #{departmentId,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <update id="updateByPost" parameterType="com.xiangshangban.organization.bean.Post">  
    update organization.post_
    set 
    post_name = #{postName,jdbcType=VARCHAR},         
    post_proficiencies = #{postProficiencies,jdbcType=VARCHAR},
    post_work_type = #{postWorkType,jdbcType=VARCHAR},
    educational_requirements = #{educationalRequirements,jdbcType=VARCHAR}, 
    post_principal_id = #{postPrincipalId,jdbcType=VARCHAR}            
    where 
    post_id = #{postId,jdbcType=VARCHAR}
  </update>
  
</mapper>