<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.organization.dao.UserCompanyDefaultDao">
	<resultMap id="BaseResultMap" type="com.xiangshangban.organization.bean.UserCompanyDefault" >
		<constructor >
			<idArg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
			<idArg column="company_id" jdbcType="VARCHAR" javaType="java.lang.String" />
			<idArg column="current_option" jdbcType="VARCHAR" javaType="java.lang.String" />
			<idArg column="is_active" jdbcType="VARCHAR" javaType="java.lang.String" />
			<idArg column="info_status" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		user_id, company_id, current_option,is_active,info_status
	</sql>
	<select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from user_company
		where user_id = #{userId} 
	</select>
	<select id="selectByUserCompanyDefault" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from user_company
		where user_id = #{userId} AND current_option='1'
	</select>
	<select id="selectByUserIdAndCompanyId" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from user_company
		where user_id = #{userId} AND company_id=#{companyId} and type = #{type}
	</select>
	<select id="getActiveDefault" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from user_company
		where user_id = #{userId} AND current_option='1' AND is_active='1' and type = #{type}
	</select>
	
	<select id="getActiveNoDefaultFirst" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from user_company
		where user_id = #{userId} AND current_option='2' AND is_active='1' and type = #{type}
		limit 1 offset 0
	</select>
	<!-- 将某个已激活的公司设置为默认公司 -->
	<update id="updateCurrentCompany">
		update user_company 
		set current_option='1'
		where company_id = #{companyId} and user_id = #{employeeId} AND is_active = '1'
	</update>
	<update id="deleteUserFromCompany" parameterType="java.lang.String">
		update user_company 
		set is_active = '2',current_option='2'
		where company_id = #{companyId} and user_id = #{employeeId}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="com.xiangshangban.organization.bean.UserCompanyDefault" >
		delete from user_company
		where user_id = #{userId,jdbcType=VARCHAR}
		and company_id = #{companyId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiangshangban.organization.bean.UserCompanyDefault" >
		insert into user_company (user_id, company_id, current_option,is_active,info_status
		)
		values (#{userId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{currentOption,jdbcType=VARCHAR}, #{isActive},#{infoStatus}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiangshangban.organization.bean.UserCompanyDefault" >
		insert into user_company
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				user_id,
			</if>
			<if test="companyId != null" >
				company_id,
			</if>
			<if test="currentOption != null" >
				current_option,
			</if>
			<if test="isActive!=null">
				is_active,
			</if>
			<if test="infoStatus!=null">
				info_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null" >
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="currentOption != null" >
				#{currentOption,jdbcType=VARCHAR},
			</if>
			<if test="isActive!=null">
				#{isActive,jdbcType=VARCHAR},
			</if>
			<if test="infoStatus!=null">
				#{infoStatus},
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.xiangshangban.organization.bean.UserCompanyDefault" >
		update user_company 
		<set>
			<if test="currentOption != null" >
				current_option=#{currentOption,jdbcType=VARCHAR},
			</if>
			<if test="isActive!=null">
				is_active=#{isActive,jdbcType=VARCHAR},
			</if>
			<if test="infoStatus!=null">
				info_status=#{infoStatus}
			</if>
		</set>
		where user_id=#{userId,jdbcType=VARCHAR} AND company_id=#{companyId,jdbcType=VARCHAR}
	</update>
	<update id="updateActive">
		update user_company set is_active='1' 
		where company_id=#{companyId,jdbcType=VARCHAR} 
		AND user_id=#{employeeId,jdbcType=VARCHAR}
	</update>
</mapper>